#header {
    height: 120px;
}

#header .logo {
    width: 330px;
    float: left;
}

#header img {
    width: 280px;
}

.wrap {
    width: 1170px;
    margin: 0 auto;
}

#header .search-nav {
    width: calc(100% - 330px);
    float: right;
    margin-top: 22px;
}

#header .social {
    width: 170px;
    float: right;
    padding-top: 3px;
}

#header .social li {
    text-align: right;
}

#header .icon-fb,
#header .icon-yt {
    width: 30px;
    height: 30px;
    float: right;
    border-radius: 50%;
    margin-right: 5px;
}

#header .icon-fb img,
#header .icon-yt img {
    width: 100%;
    padding-top: 0;
}

#header .search {
    width: calc(100% - 170px);
    float: right;
    text-align: right;
    position: relative;
}

#header input {
    width: 320px;
    float: right;
    height: 34px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding-left: 10px;
    box-sizing: border-box;
    color: #666;
}

#header .search .fa-search {
    position: absolute;
    right: 15px;
    top: 8px;
    cursor: pointer;
    color: #e5e5e5;
    font-size: 16px;
}

#header .social li i {
    color: #fff;
    text-align: center;
    position: relative;
    right: 10px;
    font-size: 16px;
    line-height: 30px;
}

#header .icon-yt i {
    font-size: 17px !important;
    right: 5px !important;
    bottom: 1px;
}

#header .navigation li:hover a {
    color: #04428c;
    transition: 0.3s;
}

#header .navigation li:hover .sub-menu a {
    color: #333;
}

.sub-menu li:hover a {
    color: #04428c !important;
    padding-left: 5px;
    transition: 0.3s;
}

.sub-menu li:hover .sub-sub-menu a {
    color: #333 !important;
    padding-left: 0;
}

.sub-sub-menu li:hover a {
    padding-left: 5px !important;
    transition: 0.3s;
    color: #04428c !important;
}

#header .navigation li:last-child {
    margin-right: 0;
}

#header .navigation ul {
    text-align: right;
    padding-top: 20px;
}

#header .navigation li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    height: 45px;
}

#header .navigation li a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

#header .sub-menu {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-top: 1px solid #cecece;
    height: auto !important;
    opacity: 0;
    z-index: 9999;
    position: absolute;
    width: 240px;
    background-color: #fff;
    top: 80px;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: left !important;
    padding-top: 0px !important;
    padding: 5px 10px;
    box-sizing: border-box;
}

#header .sub-sub-menu {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-top: 1px solid #cecece;
    height: auto !important;
    opacity: 0;
    z-index: 9999;
    position: absolute;
    width: 240px;
    background-color: #fff;
    top: 0px;
    left: -260px;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: left !important;
    padding-top: 0 !important;
    padding: 5px 10px;
    box-sizing: border-box;
}

#header .sub-menu li {
    width: 100%;
    height: auto;
    padding: 10px 0;
}

#header .sub-menu li a {
    line-height: 20px;
}

#header .navigation li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 44px;
}

#header .navigation li:hover .sub-sub-menu {
    opacity: 1;
    visibility: visible;
    top: -1px;
}

#header.header-fix {
    height: 60px;
    position: fixed;
    top: 0px;
    transition: all 0.2s;
    box-shadow: 0px 0px 15px 0px #333333;
    -webkit-box-shadow: 0px 0px 15px 0px #333333;
    -khtml-box-shadow: 0px 0px 15px 0px #333333;
    -moz-box-shadow: 0px 0px 15px 0px #333333;
    -ms-box-shadow: 0px 0px 15px 0px #333333;
    -o-box-shadow: 0px 0px 15px 0px #333333;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

#header.header-fix .logo {
    width: 200px;
}

#header.header-fix .logo img {
    width: 100px;
    padding-top: 7px;
}

#header.header-fix .search-nav {
    margin-top: 16px;
}

#header.header-fix .navigation ul {
    padding-top: 0px;
}

#header.header-fix .navigation ul li {
    padding-top: 4px;
}