.content-first h3 {
    color: #3498db;
    font-weight: 700;
    font-size: 1.5em;
}

.hd-page-contact {
    background: linear-gradient(#0e95c9, #1068a4);
    border-radius: 6px 6px 0 0;
    padding: 10px;
    font-weight: 700;
    font-size: 1.1em;
    color: #fff;
}

button.btn.btn-frm.btn-send {
    background: linear-gradient(#0e95c9, #1068a4);
    border-radius: 5px;
    padding: 6px;
    font-weight: 700;
    font-size: 1em;
    color: #ffff;
}