#footer .col2 {
    box-sizing: border-box;
}

#footer .col .title {
    color: #fff;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: solid 1px #00aeef;
    margin-bottom: 15px;
}

#footer .col2 li {
    color: #fff;
    line-height: 20px;
    padding-bottom: 15px;
}

#footer .col2 li i,
#footer .col2 li svg {
    color: #fff;
    padding-right: 5px;
    font-size: 16px;
    width: 23px;
    height: 14px;
}

#footer-bottom {
    background: #143678 !important;
    padding: 1rem;
}

#footer-bottom .left,
#footer-bottom .right {
    width: 50%;
    float: left;
}

#footer-bottom p {
    color: #fff;
    display: inline;
}

#footer-bottom p span {
    color: #0092c9;
}

#footer-bottom .right a {
    float: right;
    color: #fff;
    margin-top: 18px;
    padding-left: 40px;
}