#footer {
    background: url("../images/footer.jpg"), #1d428a;
    padding: 60px 0 70px;
    position: relative;
    overflow: hidden;
}

#footer .col {
    width: 25%;
    float: left;
    position: relative;
    z-index: 10;
    padding-right: 20px;
}

#footer .col a {
    color: #fff;
    transition: 0.3s ease-in-out;
}

#footer .col a:hover {
    padding-left: 10px;
}

#footer .col a.email {
    color: #f9b10a;
}

#footer .col1 {
    width: 100%;
    float: left;
}

#footer .col1 a {
    width: 25%;
    float: left;
}

#footer .col1 i.icon-hoaphat {
    width: 200px;
    height: 120px;
    background-position: -20px -210px;
}

#footer .col1 p {
    width: 50%;
    float: left;
    color: #fff;
    padding-bottom: 20px;
    line-height: 20px;
    display: inline;
    padding-top: 55px;
}

#footer .col1 p i {
    padding-right: 5px;
    font-size: 16px;
    color: #fff;
}

#footer .col1 ul {
    text-align: center;
    margin-left: 80px;
}

#footer .col1 li {
    display: inline;
    float: left;
    margin-right: 10px;
    margin-top: 48px;
}

#footer .col1 li a {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 100%;
}

#footer .col1 li i {
    color: #fff;
    text-align: center;
    line-height: 30px;
}

#footer .frm-newsl {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.frm-newsl input {
    width: 100%;
    border: none;
    padding: 8px 20px;
}

.btn-frm-newsl {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #00aeef;
    display: inline-block;
    padding: 8px 15px;
    color: #fff !important;
}

.msgbox {
    margin-top: 5px;
    color: #f00;
    font-style: italic;
    font-size: 12px;
    clear: both;
    height: 15px;
}

.linksmo a {
    display: inline-block;
    color: #fff;
    margin-right: 3px;
    font-size: 18px;
}

.linksmo span {
    font-size: 14px;
    color: #fff;
}

.hvr-float {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#footer {
    box-sizing: border-box;
}

#footer h6 {
    color: #fff;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: solid 1px #00aeef;
    margin-bottom: 15px;
}

#footer li {
    color: #fff;
    line-height: 20px;
    padding-bottom: 15px;
}

#footer li i,
#footer li svg {
    color: #fff;
    padding-right: 5px;
    font-size: 16px;
    width: 23px;
    height: 14px;
}

#footer-bottom {
    background: #143678;
    /* height: 50px; */
}

#footer-bottom .left,
#footer-bottom .right {
    width: 50%;
    float: left;
}

#footer-bottom p {
    /* line-height: 50px; */
    color: #fff;
}

#footer-bottom p span {
    color: #0092c9;
}

#footer-bottom .right a {
    float: right;
    color: #fff;
    margin-top: 18px;
    padding-left: 40px;
}